<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aseubel.infrastructure.dao.SFileMapper">

    <insert id="addSFile">
        insert into `sfile` (sfile_id, sfile_name, sfile_url, sfile_size, sfile_type, create_by, update_by)
        values (#{sfileId}, #{sfileName}, #{sfilePath}, #{sfileSize}, #{sfileType}, #{createBy}, #{updateBy})
    </insert>

    <delete id="deleteRepeatedSFile">
        DELETE FROM `sfile`
        WHERE id NOT IN (
            SELECT id
            FROM (
                     SELECT id
                     FROM sfile
                     WHERE (sfile_url, create_time) IN (
                         SELECT sfile_url, MAX(create_time)
                         FROM sfile
                         GROUP BY sfile_url
                     )
                 ) AS temp
        )
    </delete>

    <select id="listSFile" resultType="com.aseubel.infrastructure.dao.po.SFile">
        select id, sfile_id, sfile_name, sfile_url, sfile_size, download_count, sfile_type, create_by, update_by, create_time, update_time
        from sfile
        where id > (select id from `sfile` where sfile_id = #{fileId} and is_deleted = 0)
          and is_deleted = 0
        order by #{sortField}
        limit #{limit}
    </select>

    <select id="listSFileAhead" resultType="com.aseubel.infrastructure.dao.po.SFile">
        select id, sfile_id, sfile_name, sfile_url, sfile_size, download_count, sfile_type, create_by, update_by, create_time, update_time
        from sfile
        where is_deleted = 0
        order by #{sortField}
        limit #{limit}
    </select>

    <select id="listSFileByTypeId" resultType="com.aseubel.infrastructure.dao.po.SFile">
        select id, sfile_id, sfile_name, sfile_url, sfile_size, download_count, sfile_type, create_by, update_by, create_time, update_time
        from sfile
        where id > (select id from `sfile` where sfile_id = #{fileId} and is_deleted = 0)
          and sfile_type=#{typeId} and is_deleted = 0
        order by id DESC
        limit #{limit}
    </select>

    <select id="listSFileByTypeIdAhead" resultType="com.aseubel.infrastructure.dao.po.SFile">
        select id, sfile_id, sfile_name, sfile_url, sfile_size, download_count, sfile_type, create_by, update_by, create_time, update_time
        from sfile
        where sfile_type=#{typeId} and is_deleted = 0
        order by id DESC
        limit #{limit}
    </select>

</mapper>